.topContainer {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  text-align: center;
  background-color: var(--black);
}

.scrollProgressBarContainer {
  width: 100%;
  height: 10px;
  background-color: lightslategray;
}

.currentProgressBar {
  height: 10px;
  background: cyan;
  width: 0%;
}
