.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--white);
  color: var(--black);
  padding: 3px;
  margin: 3px;
  cursor: pointer;
}

.block {
  display: flex;
  height: 50vh;
  width: 50vw;
}
